/* switch settings 👇 */

.ui-switch {
  /* switch */
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  /* circle */
  --circle-diameter: 32px;
  --circle-bg: rgb(232, 89, 15);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  margin-left: 40px;
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

/* actions */

.ui-switch input:checked + .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
  background-color: rgb(0, 56, 146);
}

.ui-switch input:active + .slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

/* Modal */
button {
  border: none;
  outline: none;
  background: transparent;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity, visibility;
  transition-duration: 0.4s;
}

.modal-backdrop.show {
  opacity: 1;
  visibility: visible;
}

.modal-backdrop.show .modal-container {
  transform: scale(1);
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ebebeb;
  font-size: 1.3rem;
  color: #666;
  line-height: 0;
}

.modal-close:hover {
  color: #333;
  cursor: pointer;
}

.modal-container {
  width: min(1100px, 90%);
  position: relative;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  transform: scale(0);
  transition: transform 0.3s;
}

#profile-page .modal-container {
  width: min(600px, 90%);
}

#profile-page .modal-container:has(#form-upload-post-profile) {
  width: min(1100px, 90%);
}

#profile-page .modal-container:has(#form-update-post) {
  width: min(1100px, 90%);
}

.modal-content {
  height: 100%;
}

.btn {
  position: absolute;
  bottom: 60px;
  right: 60px;
  width: 100px;
  height: 40px;
  border: 1px solid #333;
  border-radius: 99px;
  cursor: pointer;
}

.modal-editable:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #15a1b7;
  color: #15a1b7;
}

.modal-editable:active {
  transform: scale(0.9);
}

.modal-detail.title {
  font-size: 4rem;
}

/* Confirm card */

.modal-backdrop.show .card {
  transform: scale(1);
}

.card {
  width: 300px;
  height: fit-content;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
  transform: scale(0);
  transition: transform 0.3s;
}
.card-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-heading {
  font-size: 20px;
  font-weight: 700;
  color: rgb(27, 27, 27);
}
.card-description {
  line-height: 1.67;
  font-weight: 400;
  color: rgb(102, 102, 102);
}
.card-button-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.card-button {
  width: 50%;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}
.primary {
  background-color: rgb(255, 114, 109);
  color: white;
}
.primary:hover {
  background-color: rgb(255, 73, 66);
}
.secondary {
  background-color: #ddd;
}
.secondary:hover {
  background-color: rgb(197, 197, 197);
}
.exit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.exit-button:hover svg {
  fill: black;
}
.exit-button svg {
  fill: rgb(175, 175, 175);
}

.strong-text {
  color: red;
  font-weight: 500;
}

#form-upload-post {
  padding: 0;
}
/* custom upload */
.custom-file-upload {
  font-size: 1.1em;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background var(--transition) ease;
  display: inline-block;
  width: 200px;
  padding: 10px;
  position: relative;
}

.custom-file-upload:hover {
  background: rgba(255, 255, 255, 0.4);
}

.custom-file-upload input[type="file"] {
  display: none;
}

.post-card {
  position: relative;
}

.post-card-dot {
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
}

/* Hide the default date picker icon in Chrome, Safari, and Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  left: 0; /* Ensures the calendar still shows up */
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* Hide the default date picker icon in Firefox */
input[type="date"] {
  appearance: textfield;
  -moz-appearance: textfield;
  position: relative;
  z-index: 2;
  background: transparent;
}

/* Container to position the icon and input field */
.date-input-container {
  position: relative;
  display: inline-block;
}

/* Custom icon style */
.custom-date-icon {
  position: absolute;
  left: 10px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #4caf50; /* Icon color */
  z-index: 1;
}

/* Input field style */
input[type="date"] {
  padding-left: 40px; /* Make space for the custom icon */
  box-sizing: border-box;
  border: 1px solid #ccc; /* Normal border style */
}

/* Remove the border and outline on focus */
input[type="date"]:focus {
  border: none;
  outline: none;
}

/* Toast message */

/* ======= Toast message ======== */

#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
  min-width: 400px;
  max-width: 450px;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.toast--success {
  border-color: #47d864;
}

.toast--success .toast__icon {
  color: #47d864;
}

.toast--info {
  border-color: #2f86eb;
}

.toast--info .toast__icon {
  color: #2f86eb;
}

.toast--warning {
  border-color: #ffc021;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body {
  flex-grow: 1;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/* Module page */
#module-page .modal-container:has(#form-update-module) {
  width: min(600px, 90%);
}

#module-page .modal-container:has(#form-create-module) {
  width: min(600px, 90%);
}

#home-page .modal-container:has(.error-modal) {
  width: min(450px, 90%);
}

.modal-backdrop:has(#search__bar) {
  margin-top: 50px;
  padding-left: 50px;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal-backdrop:has(#search__bar) .modal-container {
  width: min(600px, 90%);
  height: 600px;
}

.modal-backdrop:has(.error-login-modal) .modal-container {
  width: min(400px, 90%);
}

.modal-backdrop:has(#form-update-comment) .modal-container {
  width: min(600px, 90%);
}

.modal-backdrop:has(.other-modal) .modal-container {
  width: min(400px, 90%);
}

.modal-backdrop:has(.update-role-message-modal) .modal-container {
  width: min(400px, 90%);
}

.modal-backdrop:has(#search__bar) .modal-close {
  visibility: hidden;
}

/* Vote css */
.vote-btn.upvote-btn.active {
  background-color: rgb(103, 248, 103);
  color: white;
}

.vote-btn.downvote-btn.active {
  background-color: rgb(255, 71, 71);
  color: white;
}

.like-button .icon-active {
  font-weight: 600;
}

.like-button.active {
  font-weight: 600;
}
